body {
    font-family: Arial;
}

h2 {
    margin-top: 1.5em;
}


/*
 * CSS-Klasse, die allen mit dem Attribut data-mide-effekt="blinker"
 * versehenen Elementen zur Laufzeit mit jQuery zugewiesen wird.
 */
.hintergrundFuerEffekt {
    background: #FF0; /* gelb: Abkürzung für #FFFF00 */
}
